<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>COVID-19 Vaccine Site Finder</title>
  <meta name="description" content="NY State vaccination appointments seem to be spread across multiple websites, making it challenging to see where appointments are available.
  This website aims to solve that problem by aggregating the views of the many different sites to a single dashboard.">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/site.css">

  <!-- Favicon https://www.iconfinder.com/icons/5991794/coronavirus_cure_injection_needle_vaccination_vaccine_icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="images/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Social -->
  <meta property="og:title" content="COVID-19 Vaccine Site Finder">
  <meta property="og:description" content="NY State vaccination appointments seem to be spread across multiple websites, making it challenging to see where appointments are available.
  This website aims to solve that problem by aggregating the views of the many different sites to a single dashboard.">
  <meta property="og:image" content="https://vaccinesitefinder.com/images/social-share.png">
  <meta property="og:url" content="https://vaccinesitefinder.com">
  <meta name="twitter:card" content="summary_large_image">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="p-t-5">COVID-19 Vaccine Site Finder (NY)</h1>
      <h4>We've joined forces with <a target="_blank" href="https://nycvaccinelist.com/">NYC Vaccine List</a>!</h4>
      <p>We're working quickly to integrate the 2 sites, but in the meanwhile, feel free to check there for openings as well.</p>
      <p>This website aims to make finding a COVID-19 vaccine appointment a little bit easier. It is currently focused on
        the Nassau County, Queens, and Manhattan area and is updated with current data from these <a href="#sites">sites</a> every 5 minutes.</p>
      <p>We are a volunteer effort and not affiliated with NY State or any goverment or health agency. For feature requests, comments, or
        to help please <a href="#contact">contact us.</a></p>
      <h3>Available Appointments</h3>
      <p>The following events are showing with availability. When you click "Book" you will be brought to the NY Health
        site.</p>
      <em>The registration websites are under high load and have been generating a lot of errors. If at first you don't
        succeed, try, try again!</em>
      <table class="u-full-width">
        <tr>
          <th>Address</th>
          <th>Date</th>
          <th>Time</th>
          <th>Approx # of Appts</th>
          <th></th>
        </tr>
        {{#each events}}
        <tr>
          <td>
            <strong>{{site.address.name}}</strong><br>
            {{site.address.street}}<br>
            {{site.address.city}}, {{site.address.state}} {{site.address.zip}}
          </td>
          <td>{{date date}}</td>
          <td>{{time}}</td>
          <td>{{appointments}}</td>
          <td><a target="_blank" class="u-pull-right button button-primary" href="{{site.link}}{{#if linkId}}#{{linkId}}{{/if}}">Book</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td>Oh no! Looks like there are no appointments available to book right now.</td>
        </tr>
        {{/each}}
      </table>
      <h3 id="sites">Sites</h3>
      <p>These are the sites that we are currently tracking. Know of another site that you'd like us to track? <a
          href="#contact">Let us know</a> or raise a <a
          href="https://github.com/99littlebugs/vaccine-site-finder/issues" target="_blank">GitHub issue</a>.</p>
      <table class="u-full-width">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th></th>
        </tr>
        {{#each sites}}
        <tr>
          <td>{{name}}</td>
          <td>
            <strong>{{address.name}}</strong><br>
            {{address.street}}<br>
            {{address.city}}, {{address.state}} {{address.zip}}
          </td>
          <td><a target="_blank" class="u-pull-right button" href="{{link}}">View</a></td>
        </tr>
        {{/each}}
      </table>
      <h3 id="contact">Contact Us</h3>
      <p>We'd love to hear from you, whether it be to help us improve, say thanks, or ask us to track more sites. Only
        provide your email address if you'd like to be contacted with a response. If you'd like to collaborate, you may
        also raise a <a href="https://github.com/99littlebugs/vaccine-site-finder/issues" target="_blank">GitHub
          issue.</a></p>
      <p>Unfortunately, we can not notify you right now about new openings.</p>
      <div id="form-wrapper">
        <form name="contact" id="contact-form" method="POST" data-netlify="true" netlify-honeypot="name">
          <label for="email">Email:</label>
          <input class="u-full-width" type="email" placeholder="hello@mail.com" name="email">
          <input hidden name="name" />
          <label for="message">Message:</label>
          <textarea class="u-full-width" placeholder="Hi …" name="message" required></textarea>
          <input class="button-primary" type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
  <script src="scripts/site.js"></script>
</body>

</html>